.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Cormorant Garamond', Garamond, Times, serif;
    font-weight: lighter;
    font-size: 24px;
    font-display: swap;
    background-color: black;
    overflow-y: auto; 
}

.bg {
  background-size: cover;
  position: fixed;
  background-position: bottom left;
  bottom: 0;
  left: 0;
  height:100%;
  width:100%;
  opacity: 0.9;
  z-index: 0;
}

.bgcanvas
{
  background-position: bottom left;
  height:100%;
  width:100%;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  left: 0px;
}

.content
{
  padding-top: 2px;
  padding-left: 25px;
  padding-left: 25px;
  text-align: left;
  position: relative;
  z-index: 1;
  color: white;
  line-height: 1.1;
}

body
{
  background-color: black;
  background-position: bottom left;
  margin: 0;
}

a
{
  color:white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: underline;}
a:hover { text-decoration: underline;}
a:active { text-decoration: underline;}

ul
{
  list-style-type:none;
  margin: 0;
  padding: 0;
}


/*tablets*/
@media (max-width: 768px) {
  .main {
      font-size: 20px;
      height: auto;
      padding: 10px;
  }
  .content {
      padding-left: 15px;
      padding-right: 15px;
  }
}

/*phones */
@media (max-width: 480px) {
  .main {
      font-size: 18px;
      padding: 10px;
  }
  .content {
      padding-left: 10px;
      padding-right: 10px;
  }
}