.main {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Cormorant Garamond', Garamond, Times, serif;
    font-weight: lighter;
    font-size: 20;
}

.bg {
  background-size: cover;
  position: fixed;
  background-position: top left;
  bottom: 0;
  left: 0;
  height:100%;
  opacity: 0.9;
  z-index: 0;
}

.bgcanvas
{
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  left: 0px;
}

.glslCanvas
{
  background-size: cover;
  z-index:-10;
}


.main::before {
      content: "";
      background-image: url('../Assets/Orange_Edges.jpg');
      background-size: cover;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
}

.content
{
  padding-top: 2px;
  padding-left: 25px;
  text-align: left;
  position: relative;
  z-index: 1;
  color: white;
}

.intro
{
    width: 50%;
}

a
{
  color:white;
  font-weight: bold;
}

ul
{
  list-style-type:circle;
  line-height: 1.2;
}

li{
  margin: 1.1em 0;
}
